@media (max-width: 1800px)
  .info
    &__right
      max-width: 800px

@media (max-width: 1500px)
  .info
    &__right
      max-width: 650px

@media (max-width: 1200px)
  .container 
    max-width: 1000px
  .about
    &__title
      &::after
        right: 30px  
  .info
    &__right
      max-width: 500px

@media (max-width: 992px)
  .container 
    max-width: 850px
  h1
    font-size: 150px
  h2
    font-size: 36px
  .about
    &__title
      &::after
        font-size: 54px
        right: 40px 
  .info
    &__right
      max-width: 350px
