*
  box-sizing: border-box

body
  font-family: "Roboto Condensed", san-serif
  font-weight: 400
  letter-spacing: 0.6
  color: $text-color

.container
  width: 100%
  max-width: 1200px
  margin: auto

h1, h2
  font-family: Raleway, san-serif
  color: $title-color
  text-transform: uppercase
  text-align: center
h1
  font-weight: 700
  font-size: 200px
  line-height: 1.175
h2
  font-weight: 600
  font-size: 48px
  line-height: 1.2
a
  text-decoration: none
  color: $light-color
p
  font-size: 14px
  line-height: 1.3
  font-weight: 300
  margin: 0

.hidden
  display: none